@import url(//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular);

body
{
	margin: 0;
	background-color: #555555;
}

body *
{
	color: #F9F9F9;
	font-family: "BeaufortW01-Regular";
}

#navBar
{
	background-color: #111111;
	height: 8vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-row-start: 1vh;
	box-shadow: 5px black;
}

@media (min-width: 600px)
{
.navButton
{
	height: 5vh;
	width: fill;
	margin: auto;
	padding-top: 1vh;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1vh;
	border-radius: 5px;
	text-align: center;
	color: #F9F9F9;
	font-size: 1.5em;
	font-family: "BeaufortW01-Regular";
	text-decoration: none;
}

.titre
{
	grid-column: 1 / 6;
	font-size: 3em;
	text-align: center;
}
}

@media (max-width: 600px)
{
.navButton
{
	height: 5vh;
	width: fill;
	margin: auto;
	padding-top: 1vh;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 1vh;
	border-radius: 5px;
	text-align: center;
	color: #F9F9F9;
	font-size: 1em;
	font-family: "BeaufortW01-Regular";
	text-decoration: none;
}

.titre
{
	grid-column: 1 / 6;
	font-size: 2em;
	text-align: center;
}
}

.navButton:hover
{
	background-color: #333333;
}

#searchBar
{
	grid-column: 8 / 11;
	background-color: #333333;
	margin-right: 5px;
}

.cadre
{
	margin: auto;
	margin-top: 3vh;
	width: 95%;
	height: fill;
	border: black solid;
	border-radius: 10px;
	background-color: rgba(53,66,75,0.5);
	text-align: center;

	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 5px;
}

.wip
{
	grid-column: 3 / 4;
	grid-row: 2;
	text-align: center;
}

.lorem
{
	grid-column: 2 / 5;
	grid-row: 3 / 11;
}



