<template>
  	<div class="cadre">
  		<div class="titre">Bienvenue sur le wiki de Brisma</div>
  		<div class="wip">Ce site est en construction</div>
  		<div class="lorem"></div>
  	</div>
</template>

<script>

export default {
  name: 'Accueil',
  components: {}
}
</script>
