<template>
  <div class="cadre">
  		<div class="titre">Bienvenue sur la boutique de Brisma</div>
  		<div class="wip">Bientôt, de nombreux articles seront en vente ici !</div>
  		<div class="lorem">
			<table>
				<tr>
					<th>Nom</th>
					<th>Description</th>
					<th>Prix</th>
				</tr>
				<tr>
					
				</tr>
			</table>
		</div>
  	</div>
</template>

<script>

export default {
  name: 'Boutique',
  components: {}
}
</script>
