<template>
  <div class="cadre">
  		<div class="titre">Bienvenue sur la page des infos-pnj</div>
  		<div class="wip">Work in progress</div>
  		<div class="lorem">
			<h3>Cortez Rodriguez</h3>
			<p>blablabla</p>
		</div>
  	</div>
</template>

<script>

export default {
  name: 'Boutique',
  components: {}
}
</script>
