<template>
  <div id="navBar">
    <router-link to="/" class="navButton">Accueil</router-link>
    <router-link to="/monde" class="navButton">Le Monde</router-link>
    <router-link to="/pnj" class="navButton">Les PNJ</router-link>
    <router-link to="/boutique" class="navButton">Boutique</router-link>
  </div>
  <router-view/>
</template>

<style>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
